.pt-serif {
  font-family: 'PT serif', serif;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.margin{
  padding-top: 10rem;
  
}
.box{
}
.space{
  justify-content: space-between;
}


@media (max-width:767px) {
  .col-4{
    width: 50% !important;
    flex: 0 0 auto !important;
  }
  .margin{
    margin-top: 20rem;
  }
}
